annotated-types==0.7.0
anyio==4.5.2
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.7
contourpy==1.1.1
cycler==0.12.1
dbus-next
exceptiongroup==1.2.2
fastapi==0.115.3
filelock==3.16.1
fonttools==4.55.3
fsspec==2024.10.0
h11==0.14.0
huggingface-hub==0.25.1
idna==2.8
importlib-resources==6.4.5
jinja2==3.1.4
kiwisolver==1.4.7
loguru==0.7.2
MarkupSafe==2.1.5
matplotlib==3.7.5
mpmath==1.3.0
networkx==3.1
numpy==1.24.4
opencv-contrib-python-headless==4.10.0.82
opencv-python==4.10.0.84
packaging==24.2
pandas==2.0.3
pillow==10.4.0
psutil==6.1.0
py-cpuinfo==9.0.0
pydantic==2.9.2
pydantic-core==2.23.4
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-multipart==0.0.17
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requests-unixsocket==0.2.0
scipy==1.10.1
seaborn==0.13.2
six==1.14.0
sniffio==1.3.1
starlette==0.41.3
sympy==1.13.3
torch==2.4.1
torchvision==0.19.1
tqdm==4.67.1
typing-extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.15
ultralytics-thop==2.0.13
urllib3==1.25.8
uvicorn==0.32.0
zipp==3.20.2