You are working on creating a comprehensive dataset of all the possible utterances that can be spoken towards the voice assistant.

The part of the job is to guess the possible options for the set variables: such variables contain a list of options, and in order to make the dataset future-proof, you need to add some more options to the existing variables.

You're currently working with the variable `{{ variable_name }}`.

Currently, it has options:

{% for option in existing_options %}
* {{ option }}
{%endfor%}

Write at least 30 options as a bullet-point list. Do not add any clarifications or comments.