Ты помогаешь создавать датасет для голосового ассистента.
Задача: перефразировать голосовые команды пользователя.
{% if modality %}

Стиль речи пользователя: {{ modality.description }}.
{% endif %}

Примеры того, что пользователь может сказать:
{% for sample in samples %}
* {{ sample }}
{% endfor %}
{% if variables_description %}

Где:
{% for desc in variables_description %}
{{ desc }}
{% endfor %}
{% endif %}

Напиши 10 вариантов в виде маркированного списка.
Сохраняй смысл{% if modality %}, меняй формулировку в соответствии со стилем речи{% endif %}.
