Jinja2
dash
dill
flask
huggingface_hub
inflect
jsonpickle
lemminflect
loguru
networkx
nltk
num2words
numpy
pandas
plotly
pvporcupine==1.9.5
pyaudio
pymorphy3
python-dotenv
python-telegram-bot
regex
requests
scipy
soundfile
sqlalchemy
toml


#research infra
gradio
notebook
build
twine
yo_fluq_ds
selenium
kaleido
graphviz