notebook
APScheduler
python-dotenv
jsonpickle
sqlalchemy

fastparquet
pyarrow
yo_fluq_ds

python-telegram-bot
requests
markdown

pyqt5
shapely

gradio
plotly
flask
flask-autoindex

torch
torchaudio
soundfile
rhasspy-nlu