#brainbox
yo_fluq_ds
flask
requests
sqlalchemy
soundfile
jsonpickle
python-dotenv
dill

#eaglesong
nltk==3.8.1
num2words
networkx
python-telegram-bot
inflect
lemminflect
pymorphy3

#kaia
flask-cors
pvporcupine==1.9.5
pvrecorder
pyaudio

#research infra
gradio
plotly
notebook

#deployment infra
build
twine