Please review the image provided and answer the following questions:

{{ case.review_questions.get_description() }}

Please provide the result in the JSON format, for example:

```
{{ case.review_questions.get_example() }}
```
