{% import "intro.jinja" as intro %}

{{ intro.intro(case) }}

Describe the facial expression of {{ case.character.name }} that matches the activity and the character's personality in 4-6 words.

Examples are:
```
kind smile and a light blush
angry, yelling, mouth open
face concentrated, showing an effort
```

Do not provide any additional comments or explanations.




