body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Helvetica, sans-serif;
    font-weight: normal;
    color: #fdfdfd;
    padding: 0px;
    margin: 0px;
    background: rgba(20, 20, 20, 1);
}

#content {
    width: 100%;
    min-width: 1024px;

    /* border: 2px solid black; */
    margin: 0px auto 0px auto;

    display: block;
    overflow-y: scroll;
    background-color: bisque;
    scrollbar-width: none;
}

#image{
    float:left;
    position: fixed;
    left: 0px;
    overflow: hidden;
    height:100%;
    width:56.3vw;
 
}

#image img{
    width: inherit;
}

#under_chat {
    height: 100%;
    /* border: 1px solid red;  */
    width: 20px;
    position: absolute;
    right: 10px;
    top: 0px;
    min-height: 768px;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(20, 20, 20, 0), rgb(20, 20, 20));
}


#chat {
    /* border: 1px solid #a77; */
    height: 100%;
    width: 43.7vw;
    background: rgba(20, 20, 20, 1);
    position: fixed;
    right:0px;
    top:0px;
    padding: 0px 10px 0px 0px;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-snap-align: end;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    user-select: none;
}

#chat p {
    /* border: 1px solid #7a7;  */
    min-height: 4.6vw;
    background-repeat: no-repeat;
    background-size: 5vw;
    font-size: 1.4vw;
    line-height: 1.5;
    margin: 6px 0px 4px 6px;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    background-color: rgb(255 255 255 / 10%);
}

#chat p.left {
    background-position: top left 7px;
    padding-left:6vw;
    background-image: url(unknown.png);
}

#chat p.right {
    background-position: top right 7px;
    padding-right:6vw;
    text-align: right;
    background-image: url(unknown.png);
}

#chat p.error {
    min-height: 4.6vw;
    background-repeat: no-repeat;
    padding: 8px;
    font-size: 1.4vw;
    line-height: 1;
    margin: 6px 0px 4px 6px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0.308);
    text-align:justify;
}

#loader{
    /* min-height: 18px; */
    min-width: 140px;
    width:100%;
    height: 0px;
    position: absolute;
    top:0px;
    left: 0px;
    opacity:0.5;
    background-image: url(bar.gif);
    background-position: bottom;
}

#buttons{
    position: absolute;
    left: 5vw;
    top:4vw;
    color: rgb(26, 26, 26);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    box-sizing: border-box;
    margin-left: -50vw;
    margin-right: auto;
    grid-gap: 1.3vw;
    text-align: center;
    width:9vw;
}

#buttons tr{
    padding:0px;
}

#buttons td{
    border: 4px solid rgba(20, 20, 20, 1);
  
    width: 11vw;
    border-radius: 1vw;
    font-size: 6vw;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.3);
    vertical-align: middle;
    padding:1vw 1.5vw 0.5vw 1.5vw;
    text-align: center;
    text-shadow: rgb(255, 255, 255) 1px 0 2vw;
}

.active{
    color:rgb(95, 0, 0);
}
