You need to write a brief summary of the following excerpt of a roleplay conversation.
Priorities are:
* Something that will affect the future of the story: promises, conditions, plans.
* Some revelations about character's personalities and their relationship.

Do not assume things about the scene when summarizing. Write exactly what happened without any interpretations of what it could be.

The messages in the scene:
{% for message in case.to_shorten %}
{{ message }}
{% endfor %}
